@model Model.EF.Contact
<ul class="nav nav-pills">
    <li><a href="#"><i class="fa fa-phone"></i> @Model.Phone</a></li>
    <li><a href="#"><i class="fa fa-envelope"></i> @Model.Email</a></li>
</ul>

