@model IEnumerable<Model.EF.AssetType>
<div class="categories-name">
    <ul class="nav nav-pills nav-assets">
        @foreach(var item in Model)
        {
            var byType = "/tai-nguyen/the-loai/" + itforum_teamwork.Common.ConvertToUnsign.ConvertToUnSign(item.AssetName).ToLower() + "-" + item.AssetTypeID;
            <li><a href="@byType">@item.AssetName</a></li>
        }
        
    </ul>
</div>
