@using MvcPaging
@model IPagedList<Model.EF.Asset>

@{
    ViewBag.Title = "Danh sách tài nguyên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="title text-center">Tài nguyên</h2>
@using (Ajax.BeginForm("Index", "Assets",
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frm-search" }))
{
    <div class="container">
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-4">
                    <input type="text" value="@ViewBag.SearchString" name="searchString" class="search-query form-control" placeholder="Tìm kiếm tài nguyên..." />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div id="grid-list">
        @{ Html.RenderPartial("_AjaxAssetsList", Model); }
    </div>
}
<br />
<script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Danh sách không có dữ liệu.");
    }

</script>