@using MvcPaging
@model IPagedList<Model.EF.Post>

@{
    ViewBag.Title = "Trang chủ";
    ViewBag.Home = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--features_items-->

<h2 class="title text-center">Dòng bài viết</h2>
@using(Ajax.BeginForm("PostByUserID", "Article",
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frm-search" }))
{
    <hr />
    <div id="grid-list">
        @{Html.RenderPartial("_AjaxPostList", Model); }
    </div>
}
<br />
<script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Danh sách không có dữ liệu.");
    }

</script>
