<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <p class="text-center">Copyright © 2016 CODTO.COM | All rights reserved.</p>
        </div>
    </div>
</div>
