<div class="row">
    <div class="col-sm-8">
        <div class="logo pull-left">
            <a href="@Url.Action("Index","Home")"><img class="logo" src="/Data/images/logo.png" alt="logo" /></a>

        </div>
        <div class="slogan">
            <p>Code Together - Cùng nhau học hỏi</p>
        </div>

    </div>
    <div class="col-sm-4">
        @Html.Partial("_LoginPartial")
    </div>
</div>
